.carousel {
  background-color: black;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h1 {
  color: #fff;
  font-weight: bold;
}

.carousel img {
  height: 250px;
  width: 270px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}

@media (min-width: 610px) {
  .carousel img {
    height: 330px;
    width: 500px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
  }
}
