.dashboard-container {
  display: flex;
  min-height: calc(100vh - 60px);
  padding: 0;
  margin: 0;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.99)),
    url("https://www.wallpapertip.com/wmimgs/3-36306_goku-vs-vegeta-wallpaper-vegeta-vs-goku-wallpaper.jpg");
  background-size: cover;
  background-position: 48%;
  width: 100%;
}

/* #logo {
  position: fixed;
  height: 125px;
  width: 125px;
  left: 50%;
  top: 50%;
  transform: translate(-63%, -50%);
  z-index: 2;
  transform-origin: center;
  // transform: translateX(-10px);
} */

#logo {
  width: 125px;
  height: 125px;
}

.jqbox_innerhtml {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-btn__row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 35%;
  width: 100%;
  align-items: center;
}

.dashboard-button {
  border-radius: 2em;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid white;
  letter-spacing: 1px;
  align-self: flex-start;
  margin: 10px auto;
}

.dashboard-button:focus {
  background-color: black;
  border: 1px solid white;
  box-shadow: none;
}

.dashboard-button.btn-primary:not(:disabled):not(.disabled):active,
.dashboard-button.btn-primary:not(:disabled):not(.disabled):active:focus {
  border: 1px solid white;
}
/*
#dashboard-users {
  top: 45%;
  left: 15%;
}

#dashboard-anime {
  top: 45%;
  right: 15%;
} */
@media (min-width: 600px) {
  .dashboard-container {
    display: flex;
    padding: 0;
    margin: 0;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.99)),
      url("/images/goku-vs-vegeta - Copy (2).jpg");
    background-size: cover;
    background-position: center;
  }

  .dashboard-btn__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 35%;
    width: 100%;
    align-items: center;
  }

  .dashboard-button {
    margin: auto 0;
    font-size: 30px;
  }

  /*#logo {
    height: 250px;
    width: 250px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-63%, -50%);
    z-index: 2;
    transform-origin: center;
    // transform: translateX(-10px);
  }*/
  #logo {
    height: 200px;
    width: 200px;
    margin-right: 10px;

    // transform: translateX(-10px);
  }
}
