input {
    margin: $xs-size $xl-size;
    text-align: center;
    font-size: $m-size;
}

.error {
    border-color: red;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  };

  .fill-up {
    width: 100%;
    height: 100%;
  };
  
  /* IMAGE STYLES */
  [type=radio] + .fill-up {
    cursor: pointer;
  };
  
  /* CHECKED STYLES */
  [type=radio]:checked + .fill-up {
    outline: 10px solid $baby-blue;
  };

  .text-background {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    height: auto;
    justify-content: center;
    opacity: 0.9;
    margin-right: auto;
    margin-left: auto;
  };

  .text-background p {
    background-color: white;
    padding: 2px;

  };

  .testing-something {
    margin: 0 10px 0 10px;
    width: 210px;
  }

  .hi {
    margin: 0 5px 0 5px;
  }

  .user-description__input {
    display: block;
    width: 300px;
    height: 150px;
    margin-top: $s-size;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    resize: none;
    text-align: left;
    word-break: break-all;
  }

  .select-sort {
    margin-bottom: $l-size;
    margin: auto auto;
  }


  @media (max-width: $desktop-breakpoint) {
    .testing-something {
      margin-top: auto;
      margin-bottom: auto;
      width: 150px;
    }
    .hi {
      width: 150px;
      font-size: 14px;
      height: 30.2px;

    }
  }



