.modal-box {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 55%;
  margin-top: -50px;
  margin-left: -150px;
}

.modal-box__form {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  top: 7%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
  width: 350px;
}

.modal-box__form img {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.modal-box__form b {
  display: block;
  text-align: center;
  width: 100%;
}

.modal-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  z-index: 1000;
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

.modal-header {
  text-align: center;
  background-color: red;
  width: 100%;
  font-weight: bold;
  color: black;
}

.modal-header h3 {
  margin: 0;
}

.modal-body__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
}

.modal-body p {
  display: flex;
  font-weight: normal;
  padding: 5px;
}

.modal-footer__container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: red;
}
.modal-footer {
  background-color: red;
  display: flex;
  align-self: flex-end;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
}

.modal-form__instructions {
  display: block;
  background-color: white;
  margin: $xs-size auto;
  width: 220px;
  text-align: center;
  opacity: 0.9;
  border-radius: 10px;
  border: 2px black solid;
}

.modal-form__type {
  background-color: white;
  width: 100%;
  margin: 0px auto;
  opacity: 0.9;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
}
.modal-form__score {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  opacity: 0.9;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
}

@media (max-width: $desktop-breakpoint) {
  .modal-box__form {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    position: fixed;
    top: 8%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    width: 300px;
  }
}
