#nav-logo {
  height: 60px;
  width: 150px;
  padding: 5px;
  margin-left: 20px;
}

.navbar {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 60px;
  background-color: black;
  padding: 0;
}

.navbar-nav a {
  color: white;
}

.navbar-brand {
  padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
  margin-top: auto;
}

.navbar-expand-lg .navbar-collapse {
  margin-top: auto;
}
