.nav-header {
    background-color: white;
    display: flex;
    align-items: center;
    opacity: 0.8;
    height: $xl-size;
    margin: 0;
    width: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    height: 100%;
    position: relative;
}

.nav-links li {
    position: relative;
    margin-left: $m-size;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
    font-size: $l-size;
    color: white;
    box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.75);
    background-color: rgb(5, 5, 54);
    border-radius: 10px;
    position: relative;
}

.nav-links a:active {
    text-decoration: none;
    font-weight: bold;
    font-size: $l-size;
    color: black;
    box-shadow: inset 4px 5px 0px 0px rgba(0,0,0,0.75)
}

.nav-links .is-active {
    background-color: $baby-blue;
}

.nav-links__sidebar {
    display: none;
}

.small-home {
    display: none;
}

@media (max-width: $desktop-breakpoint) {
    .nav-links {
        display: none;
    }
    .nav-header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 60px;
    }

    .sidebar-nav {
        width: 100%;
    }

    .nav-links__sidebar {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        height: 100%;
        position: relative;
        padding: 0;
        width: 100%;
    }
    
    .nav-links__sidebar li {
        position: relative;
        margin: 0;
        background-color: grey;
        width: 100%;
        text-align: center;
        margin-top: 5px;

    }

    .nav-links__sidebar li:hover {
        -webkit-box-shadow:0 0 30px red; 
        -moz-box-shadow: 0 0 30px red; 
        box-shadow: 0 0 30px red;
    }
    
    .nav-links__sidebar a {
        text-decoration: none;
        font-weight: bold;
        font-size: $l-size;
        color: black;
        position: relative;
        width: 100%;
        display: block;
    }
    
    .nav-links__sidebar a:active {
        text-decoration: none;
        font-weight: bold;
        font-size: $l-size;
        color: black;
        box-shadow: inset 4px 5px 0px 0px rgba(0,0,0,0.75)
    }

    .small-home {
        display: flex;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
        color: white;
        box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.75);
        background-color: rgb(5, 5, 54);
        border-radius: 10px;
        position: relative;
        margin-top: $m-size;
    }

}