.animelistcard {
  background-color: black;
  border: 2px solid #660000;
  width: 290px;
  margin-bottom: $l-size;
}

.animelistcard img {
  width: 230px;
  height: 260px;
  object-position: center;
  margin-left: auto;
  margin-right: auto;
}
.animelistcard-body,
.animesearchcard-body {
  color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.animelistcard-body__header,
.animesearchcard-body__header {
  font-size: 2rem;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.animelistcard-body__desc,
.animesearchcard-body__desc {
  font-size: 1.5rem;
  font-weight: normal;
  min-height: 50px;
  padding-bottom: $xs-size;
  padding-left: $xs-size;
  padding-right: $xs-size;
  flex-grow: 1;
}

.animelistcard-body__footer,
.animelistcard-body__footer {
  //background-color: #007bff37;
  //background-color: #bb000e;
  padding: $xs-size;
}

.animelistcard-body__footer button {
  font-size: 15px;
  margin: auto auto;
}

.animelistcard-body__footer .row {
  width: 100%;
  padding-top: 5px;
}

.animelistcard-body__footer-center,
.animesearchcard-body__footer-center {
  margin: auto auto;
}

.userslistcard {
  width: 200px;
  background-color: black;
  color: white;
  border: 2px solid #660000;
  margin-right: $xs-size;
  margin-left: $xs-size;
  margin-top: $m-size;
  border-radius: 15px;
}

.userslistcard:hover .anime-card__content {
  opacity: 1;
  backdrop-filter: blur(1px);
}
.userslistcard--image {
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.userslistcard__btn {
  border-radius: 2em;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid white;
  margin: auto auto;
  letter-spacing: 1px;
  position: absolute;
  top: 45%;
  left: 15%;
}

.userslistcard__btn:focus {
  border: 1px solid white;
  box-shadow: none;
  background-color: transparent;
}

.userslistcard__btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  border: 1px solid black;
}

.userslistcard__btn:hover {
  background-color: #660000;
  border: 1px solid black;
}

.userslistcard__btn.btn-primary:not(:disabled):not(.disabled):active {
  border: 1px solid black;
  background-color: #660000;
}

.userslistcard--body__header {
  font-size: 2rem;
  font-weight: bold;
}

.userslistcard--body__text {
  text-align: left;
  font-weight: normal;
}

.userslistcard--body__link {
  font-size: 14px;
}

.animesearchcard {
  background-color: black;
  border: 2px solid #660000;
  width: 290px;
  margin-bottom: 3.2rem;
  margin-bottom: 0;
  height: 100%;
  cursor: pointer;
  position: relative;
  color: white;
  border-radius: 15px;
}

.animesearchcard img {
  width: 100%;
  height: 350px;
  object-position: center;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.animesearchcard--contentcontainer {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 300ms linear;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.animesearchcard--contentlink a {
  color: white;
  font-weight: bold;
  margin: 0 auto;
}

.animesearchcard--contentlink {
  color: white;
}

.animesearchcard:hover .animesearchcard--contentcontainer {
  opacity: 1;
  backdrop-filter: blur(1px);
}

.animesearchcard--radio {
  padding: 0;
  height: 430px;
  position: relative;
  margin: 0 20px;
}
/* .animesearchcard--radio.active {
  //transform: scale(1.1);
  z-index: 2;
  border: 3px solid #660000;
} */

.form-check-label {
  height: 100%;
}
