.animelistcard {
  background-color: black;
  border: 1px solid grey;
  min-width: 290px;
  margin-bottom: $l-size;
}

.animelistcard img {
  width: 100%;
  height: 240px;
  object-position: center;
}
.animelistcard-body {
  color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.animelistcard-body__header {
  font-size: 2rem;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.animelistcard-body__desc {
  font-size: 1.5rem;
  font-weight: normal;
  min-height: 50px;
  padding-bottom: $xs-size;
  padding-left: $xs-size;
  padding-right: $xs-size;
  flex-grow: 1;
}

.animelistcard-body__footer {
  background-color: #007bff37;
  padding: $xs-size;
}

.animelistcard-body__footer button {
  font-size: 15px;
  margin: auto auto;
}

.animelistcard-body__footer .row {
  width: 100%;
  padding-top: 5px;
}

.animelistcard-body__footer-center {
  margin: auto auto;
}
