.userrow {
  //background-color: rgb(27, 26, 26);
  border: 0.2px solid grey;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  color: white;

  padding-top: $m-size;
}

.userrow-footer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.userrow img {
  width: 160px;
  height: 180px;
}

.userrow-btn {
  font-size: 15px;
  background-color: black;
  border: none;
  padding-left: 2%;
  padding-right: 2%;
  flex-grow: 1;
}

.userrow-btn.btn-primary:hover {
  background-color: #660000;
}

.userrow-btn.btn-primary:not(:disabled):not(.disabled):active,
.userrow-btn.btn-primary:not(:disabled):not(.disabled):active:focus,
.userrow-btn.btn-primary:not(:disabled):not(.disabled).active:focus {
  background-color: #660000;
  border-color: #660000;
  box-shadow: none;
}

.userrow-btn.btn-primary:focus {
  background-color: black;
  border: 0;
  box-shadow: none;
}

.userrow-btn.active.btn-primary:not(:disabled):not(.disabled).active {
  border: 0;
  box-shadow: none;
  //border-bottom: 3px solid #005cbf;
  border-bottom: 5px solid #660000;
  background-color: black;
  color: #b80404;
}

.animelistrow {
  padding-top: $m-size;
  margin-bottom: $l-size;
  justify-content: space-evenly;
}

.animesearchform--row {
  display: flex;
  margin: auto auto;
}

.animesearchcards--row {
  flex-wrap: nowrap;
  width: 100%;
  height: 450px;
  justify-content: flex-start;
  overflow-x: scroll;
  padding-top: $xs-size;
  padding-bottom: $s-size;
  scroll-behavior: smooth;
  margin-left: auto;
  margin-right: auto;
}

.animesearchcards--row::-webkit-scrollbar {
  display: none;
}

.animesearchcards--row .form-group {
  height: 100%;
  display: flex;
}

.animeform--row__vert {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 8px;
  margin-bottom: $xs-size;
  width: 100%;
}

.animeform--row__horz {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-wrap: wrap;
  width: 100%;
}

.animeform--row__vert h4 {
  margin-top: 5px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .userrow {
    //background-color: rgb(27, 26, 26);
    border: 0.2px solid grey;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    padding-left: $m-size;
    padding-right: $m-size;
    padding-top: $m-size;
  }
}
