.anime-dash__main {
  height: 70vh;
  width: 100vw;
  /*background-image: linear-gradient(90deg, #111 20%, transparent 70%),
    url("https://wallpapercave.com/wp/wp1837595.jpg");*/
  background-image: linear-gradient(0deg, #111 10%, transparent 90%),
    url("https://wallpapercave.com/wp/wp1837595.jpg");
  //https://images.alphacoders.com/557/thumb-350-557030.jpg
  background-repeat: no-repeat;
  background-position: 70%;
  background-size: cover;
  position: relative;
  margin: 0;
  box-shadow: -2px -1px 8px 20px rgba(0, 0, 0, 0.75) inset;
}
.anime-dash__main-content {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}
.anime-dash__main-text__container {
  color: white;
  margin: 0;
  width: calc(90%);
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 30px;
  line-height: 1.3;
  position: absolute;
  bottom: 0;
}

#anime-dash__main-title {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.anime-dash__main-text {
  color: white;
  font-size: 16px;
  font-weight: normal;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  max-height: 500px; /* I needed this to get it to work */
  overflow: hidden;
  margin-bottom: 20px;
}

.separator {
  border-bottom: 1px solid white;
  margin-right: 20px;
  flex: 1;
}
.separator__black {
  border-bottom: 1px solid black;
  margin-right: 20px;
  flex: 1;
}

.separator-row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 20px 0 0 0;
}

.separator-row h1 {
  color: white;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

.dash-row {
  height: 380px;
  display: flex;
  align-items: center;
  transition: all 500ms linear;
  align-self: flex-start;
  overflow-x: scroll;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  margin-right: 0;
  overflow-y: hidden;
}

.dash-row__last {
  height: 380px;
  display: flex;
  align-items: center;
  transition: all 500ms linear;
  align-self: flex-start;
  overflow-x: scroll;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  margin-right: 0;
  overflow-y: hidden;
  margin-bottom: 50px;
}

.dash-row:last-child {
  margin-right: 30px;
}

.dash-row::-webkit-scrollbar {
  display: none;
}

.dash-row__last::-webkit-scrollbar {
  display: none;
}

.dash-img {
  margin-right: 10px;
}

.anime-card {
  min-width: 240px;
  max-width: 240px;
  height: 330px;
  position: relative;
  border: 2px solid #660000;
  transition: transform 300ms linear;
  margin-left: 20px;
  background-color: black;
  border-radius: 15px;
}

.anime-card__image {
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.anime-card__content {
  height: 100%;
  width: 100%;
  opacity: 0;
  color: white;
  transition: all 300ms linear;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  position: absolute;
}

.anime-card__content-title {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-size: 14px;
}

.anime-card:hover {
  transform: scale(1.1);
  z-index: 2;
}
.anime-card:hover .anime-card__content {
  opacity: 1;
  backdrop-filter: blur(1px);
}

.scroll-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: black;
  border: 2px solid white;
  margin-right: 20px;
}

.scroll-btn:hover,
.scroll-btn:active,
.scroll-btn:focus {
  outline: none;
  border: 2px solid white;
  background-color: black;
}

.scroll-btn h1 {
  margin: 0;
  color: white;
}

.card-text {
  text-align: center;
  margin-bottom: 0;
}

.anime-card__footer {
  margin-top: auto;
  padding: 0;
}

.anime-card__btn {
  border-radius: 2em;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid white;
  margin: auto auto;
  letter-spacing: 1px;
  position: absolute;
  top: 45%;
  left: 25%;
}

.animecard--btn__main {
  border-radius: 2em;
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid white;
  margin: auto auto;
  letter-spacing: 1px;
  position: relative;
}

.animecard--btn__main:focus,
.anime-card__btn:focus {
  border: 1px solid white;
  box-shadow: none;
  background-color: transparent;
}

.animecard--btn__main.btn-primary:not(:disabled):not(.disabled):active:focus,
.anime-card__btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  border: 1px solid black;
}

.animecard--btn__main:hover,
.anime-card__btn:hover {
  background-color: #660000;
  border: 1px solid black;
}

.animecard--btn__main.btn-primary:not(:disabled):not(.disabled):active,
.anime-card__btn.btn-primary:not(:disabled):not(.disabled):active {
  border: 1px solid black;
  background-color: #660000;
}

.newfooter--container {
  //border: 2px solid #660000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 0;
  height: 80px;
  flex-direction: column;
}

.newfooter {
  font-size: 14px;
  color: white;
  padding: 2px;
  max-height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0;
}
.newfooter__bottom {
  font-size: 14px;
  color: white;
  padding: 2px;
  max-height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: auto;
  padding-left: 5px;
  margin-bottom: 2px;
}

.fa,
.fas {
  color: yellow;
}

@media (min-width: 600px) {
  .anime-dash__main-text__container {
    width: calc(50%);
    margin: 0;
    position: static;
  }
  #anime-dash__main-title {
    text-align: left;
  }
  .anime-dash__main {
    height: 70vh;
    width: 100vw;
    /*background-image: linear-gradient(90deg, #111 20%, transparent 70%),
      url("https://wallpapercave.com/wp/wp1837595.jpg");*/
    background-image: linear-gradient(90deg, #111 20%, transparent 70%),
      url("https://wallpapercave.com/wp/wp1837595.jpg");
    //https://images.alphacoders.com/557/thumb-350-557030.jpg
    background-position: 50%;

    margin: 0;
  }
  .anime-dash__main-content {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
  }
}
