* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  max-width: 100%; /* no horizontal scroll :) */
}

#root,
body {
  //background: url("/images/anime-crossover-background.png");
  background-color: black;
  min-height: calc(100vh - 60px);
  width: 100vw;
  color: $dark-grey;
  font-family: Roboto, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  overflow-x: hidden;
  margin-top: 60px;
  position: relative;
}

#root {
  margin: 0;
}

p {
  font-weight: bold;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
  background-color: $baby-blue;
}

textarea {
  display: block;
  width: 300px;
  height: 150px;
  margin-top: $s-size;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  resize: none;
}

h3 {
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.row {
  margin: 0;
}

.fas.fa-search {
  font-size: 16px;
  color: black;
}

.alert-small {
  width: 300px;
}
.alert-small__center {
  width: 300px;
  margin: 20px auto;
  text-align: center;
}
@media (max-width: $desktop-breakpoint) {
  textarea {
    width: 200px;
  }
}
